<ion-header>
  <ion-navbar no-border-bottom>
  <ion-title>List of Taxis in the City </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="home" padding>
  <ion-card>
  <ion-card-header>
    Available Taxi
    <button (click)="viewMap()" item-end><ion-icon name="heart"></ion-icon></button>
  </ion-card-header>
  <!--<ion-list>
  <ion-item *ngFor="let taxi of taxiList" (click)="doChat(taxi)">
     <ion-avatar item-left>
      <img src= {{taxi.image}}>
    </ion-avatar>
      <h2>Taxi Id : {{taxi.id}}</h2>
      <h3> Driver Name : {{taxi.name}}</h3>
      <p>City : {{taxi.city}}</p>
      <ion-icon name="arrow-forward" item-right></ion-icon>
  </ion-item>
  </ion-list>-->
  <div class="list">
  <ion-list>
      <ion-item class="list-item" *ngFor="let taxi of taxiList" (click)="doChat(taxi)">
        <ion-row no-padding class="content-row one-line">
          <ion-col no-padding width-18 class="item-avatar">
            <ion-avatar class="avatar-image" item-left>
              <img src={{taxi.image}}>
            </ion-avatar>
          </ion-col>
          <ion-col no-padding width-72 class="item-content">
            <h2 class="item-id">Taxi id :{{taxi.id}}</h2>
            <h3 class="item-title">Driver Name : {{taxi.name}}</h3>
            <p class ="item-description">City : {{taxi.city}}</p>
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    </div>
  </ion-card>
</ion-content>