<ion-header>
  <ion-navbar color="whatsapp">
    <button ion-button icon-only menuToggle>
<ion-icon name="menu"></ion-icon>
</button>
    <ion-title>
      <p> {{name}} {{location}} {{city}}
      </p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="chats-page-content" #chat id="chat">
  <ion-list no-lines>
    <ion-item *ngFor="let message of messages">
      <ion-avatar item-left>
        <img [src]="message.picture">
      </ion-avatar>
      <ion-avatar item-left>
        <img [src]="message.image">
      </ion-avatar>
      <div class="chat-info">
        <h2>{{message.username}}</h2>
        <p>{{message.message}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="chatMessage" type="text" placeholder="enter message..."></ion-input>
    <button ion-button icon-only (click)="sendMessage()" style="position:absolute; right: 0; top: 0; margin: 0;">
      <ion-icon name="chatbubbles"></ion-icon></button>
  </ion-toolbar>
</ion-footer>