<ion-header>
  <ion-navbar no-border-bottom>
    <!--<ion-buttons start>
    <button royal (click)="addCity()">
      Add City
    </button>
  </ion-buttons>-->
  <ion-title>List of Available Cities </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="home" padding>
  <ion-list>
  <ion-item *ngFor="let city of cityList" (click)="viewTaxiList(city)">
    <ion-avatar item-left>
      <img src="http://loremflickr.com/g/320/240/india">
    </ion-avatar>
      <h2>{{city.name}}</h2>
      <p>{{city.country}}</p>
      <ion-icon name="arrow-forward" item-right></ion-icon>
  </ion-item>
  </ion-list>
</ion-content>

