<!--
Page Used to show Google Map with the markers indicating locations
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Nearby</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
<div #pleaseConnect id="please-connect">
  <p>Please Connect to the Internet...</p>
</div>
<div #map id="map"></div>
</ion-content>